openapi: 3.0.0
info:
  title: Voto Vivo API
  description: >
    API para a plataforma Voto Vivo. Centraliza dados de candidatos e parlamentares,
    oferecendo transparência sobre trajetória, gastos e votações.
  version: 1.0.0-mvp

servers:
  - url: https://api.votovivoleg.com.br
    description: Servidor de Desenvolvimento Local

paths:
  /parlamentares:
    get:
      summary: Lista parlamentares
      description: Retorna uma lista filtrável de parlamentares ativos.
      tags:
        - Parlamentares
      parameters:
        - in: query
          name: nome
          schema:
            type: string
          description: Filtrar por parte do nome parlamentar
        - in: query
          name: partido
          schema:
            type: string
          description: Sigla do partido (ex. PL, PT)
        - in: query
          name: uf
          schema:
            type: string
          description: Sigla do estado (ex. SP, RJ)
        - in: query
          name: casa
          schema:
            type: string
            enum: [camara, senado]
          description: >
            Filtra pela casa legislativa no servidor. Sem este parâmetro o cliente
            precisaria paginar tudo e separar em memória.
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParlamentarResumo'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}:
    get:
      summary: Detalhes do parlamentar
      description: Retorna o perfil completo do parlamentar.
      tags:
        - Parlamentares
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID interno do parlamentar
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParlamentarDetalhe'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/perfil:
    get:
      summary: Perfil Agregado do Parlamentar
      description: Rota agregadora que consolida os dados do parlamentar para alimentar os painéis do frontend.
      tags:
        - Parlamentares
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParlamentarPerfil'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/proposicoes:
    get:
      summary: Lista proposições do parlamentar
      description: Retorna todas as proposições em que o parlamentar consta como autor.
      tags:
        - Proposicoes
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProposicaoPerfil'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/votacoes:
    get:
      summary: Histórico de votos
      description: Retorna as votações nominais nas quais o parlamentar participou.
      tags:
        - Votacoes
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VotacaoPerfil'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/presenca:
    get:
      summary: Métrica de assiduidade
      description: Retorna a porcentagem de presença.
      tags:
        - Votacoes
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  presenca:
                    $ref: '#/components/schemas/PresencaResumo'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/despesas:
    get:
      summary: Lista de despesas
      description: Retorna as despesas detalhadas do parlamentar com paginação.
      tags:
        - Despesas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: ano
          schema:
            type: integer
        - in: query
          name: mes
          schema:
            type: integer
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Despesa'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/despesas/resumo:
    get:
      summary: Resumo de gastos
      description: Retorna métricas financeiras agrupadas e resumo para o painel. Quando ano não é informado, usa o ano mais recente com despesa cadastrada para o parlamentar.
      tags:
        - Despesas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: ano
          schema:
            type: integer
          description: Ano de referência do resumo. Se omitido, usa o ano mais recente com despesa cadastrada.
        - in: query
          name: mes
          schema:
            type: integer
            minimum: 1
            maximum: 12
          description: Mês de referência do resumo. Deve ser usado junto ao ano para consolidar apenas um mês.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DespesasPerfil'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/emendas:
    get:
      summary: Lista emendas do parlamentar
      description: Retorna todas as emendas vinculadas ao parlamentar.
      tags:
        - Emendas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Emenda'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/emendas/resumo:
    get:
      summary: Resumo de emendas
      description: Retorna totais agregados das emendas vinculadas ao parlamentar.
      tags:
        - Emendas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmendaResumo'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /emendas/{id}/detalhes:
    get:
      summary: Detalhes de uma emenda
      description: Retorna os dados completos de uma emenda, incluindo parlamentares vinculados e documentos.
      tags:
        - Emendas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID interno da emenda
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmendaDetalhe'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /emendas/{id}/documentos:
    get:
      summary: Lista documentos de uma emenda
      description: Retorna os metadados dos documentos vinculados a uma emenda.
      tags:
        - Emendas
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmendaDocumento'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/alinhamento:
    get:
      summary: Fidelidade partidária do parlamentar
      description: >
        Percentagem de votos que seguiram a orientação da bancada, comparando
        `orientacaoVotacao` com o voto registrado e usando o partido vigente na
        DATA de cada votação.


        Existe como rota própria porque a taxa só vivia dentro de
        `/parlamentares/{id}/perfil`, que dispara todas as consultas do
        parlamentar — o cliente pagava um perfil inteiro para preencher um card.


        Leia `motivo` antes de exibir: `taxa` é `null` sempre que a comparação
        não sustenta uma percentagem, e nunca deve ser substituída por `0`.
      tags:
        - Parlamentares
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alinhamento'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/temas:
    get:
      summary: Perfil temático do parlamentar
      description: >
        Em que temas o parlamentar mais legisla e como vota em proposições de
        cada tema, cruzando `autoriaProposicao` e `voto` com `temaProposicao`.


        Três ressalvas que viajam no `metadata` e precisam chegar à interface:
        uma proposição com vários temas conta em **cada** um, então a soma da
        lista é maior que `totalProposicoes`; votos em votações sem proposição
        (requerimentos, questões de ordem) e em proposições sem tema ficam de
        fora e aparecem em `excluidos`; e `votosSim`/`votosNao` é o voto
        registrado em votações **de proposições** do tema, não posição sobre o
        tema — a votação pode ser sobre destaque, urgência ou texto principal, e
        o objeto do voto não é distinguível no dado.
      tags:
        - Parlamentares
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: limite
          schema:
            type: integer
            default: 10
          description: Temas retornados em cada bloco.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerfilTematico'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /parlamentares/{id}/comissoes:
    get:
      summary: Comissões do parlamentar
      description: >
        Órgãos colegiados de que o parlamentar participa, vindos de `membroOrgao`.
        Substitui as comissões sintéticas que o frontend gerava por módulo do ID.
      tags:
        - Parlamentares
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comissao'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /votacoes:
    get:
      summary: Lista votações
      description: Listagem paginada de votações das duas casas.
      tags:
        - Votações
      parameters:
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VotacaoResumo'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /votacoes/{id}:
    get:
      summary: Detalhes de uma votação
      description: Votação com orientações de bancada e votos nominais.
      tags:
        - Votações
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VotacaoDetalhe'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /votacoes/{votingId}/votos:
    get:
      summary: Votos nominais de uma votação
      description: >
        Lista paginada. Para o placar agregado, use `GET /votacoes/{id}` — não é
        preciso baixar os votos para contar.
      tags:
        - Votações
      parameters:
        - in: path
          name: votingId
          required: true
          schema:
            type: integer
        - in: query
          name: voto
          schema:
            type: string
            enum:
              - SIM
              - NAO
              - ABSTENCAO
              - OBSTRUCAO
              - AUSENCIA_JUSTIFICADA
              - AUSENTE
              - NAO_REGISTRADO
          description: >
            Filtra por uma posição. Aceita também a grafia com espaço
            (`NAO REGISTRADO`), como está gravada no banco.
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VotoRegistrado'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /proposicoes:
    get:
      summary: Lista proposições
      description: >
        Todos os filtros são aplicados no banco e `meta.total` reflete o
        conjunto filtrado — a paginação é inteiramente do servidor, sem
        necessidade de baixar páginas para recortar no cliente.
        Os valores válidos de cada filtro estão em `/proposicoes/filtros`.
      tags:
        - Proposições
      parameters:
        - in: query
          name: tipo
          schema:
            type: string
          description: >
            Sigla do tipo (`PL`, `PEC`, `MPV`...), case-insensitive. A mesma
            sigla existe nas duas casas; combine com `casa` para desambiguar.
          example: PL
        - in: query
          name: ano
          schema:
            type: integer
          description: Ano da proposição (`proposicao.ano`).
        - in: query
          name: casa
          schema:
            type: string
            enum: [camara, senado, congresso]
        - in: query
          name: situacao
          schema:
            type: string
          description: >
            Casa por **substring** em `proposicao.statusAtual`, que é texto
            livre vindo das APIs da Câmara e do Senado.
          example: tramitação
        - in: query
          name: tema
          schema:
            type: string
          description: >
            Descrição exata do tema, como devolvida por `/proposicoes/filtros`.
            A mesma descrição costuma existir nas duas casas com ids distintos;
            o filtro alcança as duas.
          example: Saúde
        - in: query
          name: busca
          schema:
            type: string
          description: >
            Busca por substring na ementa e no número. Insensível a caixa e a
            acento (as tabelas usam `utf8mb4_unicode_ci`), então `saude`
            encontra `Saúde`.
          example: transparência
        - in: query
          name: contarTotal
          schema:
            type: boolean
            default: true
          description: >
            `false` omite `meta.total` e `meta.lastPage`. `COUNT(*)` com os mesmos
            filtros é uma segunda varredura completa da tabela; rolagem infinita
            não precisa dela, basta `meta.temProximaPagina`.
        - in: query
          name: autor
          schema:
            type: integer
          description: >
            Id interno do parlamentar autor, via `autoriaProposicao`. Cruza com
            todos os demais filtros no banco — é o que permite ao painel do
            perfil paginar no servidor em vez de recortar em memória.
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProposicaoPerfil'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  filtros:
                    type: object
                    description: Filtros efetivamente aplicados, ecoados de volta.
                    properties:
                      tipo:
                        type: string
                        nullable: true
                      ano:
                        type: integer
                        nullable: true
                      casa:
                        type: string
                        nullable: true
                      situacao:
                        type: string
                        nullable: true
                      tema:
                        type: string
                        nullable: true
                      busca:
                        type: string
                        nullable: true
                      autor:
                        type: integer
                        nullable: true
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /proposicoes/filtros:
    get:
      summary: Domínios dos filtros de proposições
      description: >
        Valores existentes para montar os filtros da UI. Necessário sobretudo
        para `situacao`: sendo texto livre, o cliente não teria como adivinhar
        as redações válidas. As contagens permitem ordenar por relevância.

        As opções são globais, não facetadas pelo filtro corrente.
      tags:
        - Proposições
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  tipos:
                    type: array
                    items:
                      type: object
                      properties:
                        sigla:
                          type: string
                        nome:
                          type: string
                        casa:
                          type: string
                  anos:
                    type: array
                    items:
                      type: object
                      properties:
                        ano:
                          type: integer
                          nullable: true
                        total:
                          type: integer
                  situacoes:
                    type: array
                    description: Ordenadas por número de proposições, decrescente.
                    items:
                      type: object
                      properties:
                        situacao:
                          type: string
                          nullable: true
                        total:
                          type: integer
                  casas:
                    type: array
                    items:
                      type: object
                      properties:
                        casa:
                          type: string
                          nullable: true
                        total:
                          type: integer
                  temas:
                    type: array
                    description: >
                      Apenas temas com ao menos uma proposição — os demais
                      seriam opções mortas no dropdown. Use `tema` (a descrição)
                      no filtro; `id` é informativo.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        tema:
                          type: string
                        casa:
                          type: string
                        total:
                          type: integer
                  metadata:
                    type: object
                    properties:
                      situacoesTruncadasEm:
                        type: integer
                      observacao:
                        type: string
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /proposicoes/{id}/tramitacoes:
    get:
      summary: Histórico de tramitação da proposição
      description: >
        Etapas de `tramitacao`, ordenadas por `sequencia` e, como desempate, por
        `dataHora`. Cada etapa traz o órgão e o regime de tramitação.


        O órgão e o regime são resolvidos por consulta separada, e não por
        `include`: `tramitacao.idOrgao` e `tramitacao.idTipoTramitacao` são
        colunas soltas no schema canônico, sem FOREIGN KEY. O resultado é o
        mesmo; a diferença é que declarar a relação no Prisma faria a API exigir
        chaves que o banco não tem.
      tags:
        - Proposições
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
        - in: query
          name: pagina
          schema:
            type: integer
            default: 1
        - in: query
          name: limite
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EtapaTramitacao'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /proposicoes/{id}:
    get:
      summary: Detalhes de uma proposição
      description: >
        Inclui temas, data de apresentação e a jornada bicameral construída a
        partir de `proposicaoRelacao`.
      tags:
        - Proposições
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposicaoDetalhe'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /dashboards/emendas/total:
    get:
      summary: Total de emendas
      description: >
        Soma nacional sobre `emenda`. Inclui emendas de bancada e de comissão,
        que não aparecem no ranking por parlamentar.
      tags:
        - Dashboards
      parameters:
        - in: query
          name: ano
          schema:
            type: integer
        - in: query
          name: tipo
          schema:
            type: string
          description: Tipo de emenda (ex. "Emenda Individual").
        - in: query
          name: metrica
          schema:
            type: string
            enum: [empenhado, liquidado, pago]
            default: empenhado
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                    format: float
                  totalEmendas:
                    type: integer
                  metadata:
                    $ref: '#/components/schemas/DashboardMetadata'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /dashboards/emendas/top:
    get:
      summary: Ranking de emendas por parlamentar
      description: >
        Emendas sem vínculo a parlamentar (autoria ambígua, bancada, comissão ou
        ex-parlamentar) ficam fora — a diferença para o total nacional é esperada
        e está declarada em `metadata.exclusoes`.
      tags:
        - Dashboards
      parameters:
        - in: query
          name: casa
          required: true
          schema:
            type: string
            enum: [camara, senado]
        - in: query
          name: ano
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            maximum: 100
        - in: query
          name: confiancaMinima
          schema:
            type: number
            default: 0
            minimum: 0
            maximum: 100
          description: Piso de `confiancaVinculo` do vínculo emenda-parlamentar.
        - in: query
          name: metrica
          schema:
            type: string
            enum: [empenhado, liquidado, pago]
            default: empenhado
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nomeParlamentar:
                          type: string
                        siglaPartido:
                          type: string
                        uf:
                          type: string
                        cargo:
                          type: string
                        totalEmendas:
                          type: integer
                        valor:
                          type: number
                          format: float
                  metadata:
                    $ref: '#/components/schemas/DashboardMetadata'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /dashboards/despesas/top:
    get:
      summary: Ranking de despesas por parlamentar
      description: >
        `casa` é obrigatório: CEAP (Câmara) e CEAPS (Senado) têm tetos e regras
        distintos, então um ranking misto não significa nada.
      tags:
        - Dashboards
      parameters:
        - in: query
          name: casa
          required: true
          schema:
            type: string
            enum: [camara, senado]
        - in: query
          name: ano
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            maximum: 100
        - in: query
          name: normalizar
          schema:
            type: string
            enum: [mes]
          description: >
            Com `mes`, divide pelos meses de exercício de `mandatoExercicio` — a
            divisão acontece em SQL, antes da ordenação.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nomeParlamentar:
                          type: string
                        siglaPartido:
                          type: string
                        uf:
                          type: string
                        total:
                          type: number
                          format: float
                        mesesExercicio:
                          type: integer
                        totalNormalizado:
                          type: number
                          format: float
                          nullable: true
                  metadata:
                    $ref: '#/components/schemas/DashboardMetadata'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

  /dashboards/comparacao:
    get:
      summary: Comparação entre parlamentares
      description: >
        Métricas normalizadas por mês de exercício, com presença rotulada por
        metodologia. Recusa comparar casas distintas sem
        `permitirCasasDistintas=true`.
      tags:
        - Dashboards
      parameters:
        - in: query
          name: ids
          required: true
          schema:
            type: string
          description: IDs separados por vírgula (mínimo 2, máximo 4).
          example: '1,2'
        - in: query
          name: permitirCasasDistintas
          schema:
            type: boolean
            default: false
        - in: query
          name: metrica
          schema:
            type: string
            enum: [empenhado, liquidado, pago]
            default: empenhado
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        nomeParlamentar:
                          type: string
                        siglaPartido:
                          type: string
                        uf:
                          type: string
                        cargo:
                          type: string
                          nullable: true
                        mesesExercicio:
                          type: integer
                        despesas:
                          type: object
                          properties:
                            total:
                              type: number
                              format: float
                            porMesDeExercicio:
                              type: number
                              format: float
                              nullable: true
                        emendas:
                          type: object
                          properties:
                            metrica:
                              type: string
                            total:
                              type: number
                              format: float
                        presenca:
                          $ref: '#/components/schemas/PresencaResumo'
                        alinhamento:
                          $ref: '#/components/schemas/Alinhamento'
                  metadata:
                    $ref: '#/components/schemas/DashboardMetadata'
        '400':
          $ref: '#/components/responses/ParametroInvalido'
        '404':
          $ref: '#/components/responses/NaoEncontrado'
        '429':
          $ref: '#/components/responses/LimiteExcedido'
        '500':
          $ref: '#/components/responses/ErroInterno'

components:
  responses:
    ParametroInvalido:
      description: Parâmetro inválido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErroResponse'
          example:
            message: 'Parâmetro inválido: id.'
    NaoEncontrado:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErroResponse'
          example:
            message: Parlamentar não encontrado.
    LimiteExcedido:
      description: >
        Limite de requisições por IP excedido. O cabeçalho `Retry-After` informa
        em quantos segundos tentar de novo; `RateLimit-Limit`,
        `RateLimit-Remaining` e `RateLimit-Reset` acompanham toda resposta.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Segundos até a janela reabrir.
        RateLimit-Limit:
          schema:
            type: integer
        RateLimit-Remaining:
          schema:
            type: integer
        RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErroResponse'
          example:
            message: Limite de requisições excedido. Tente novamente em instantes.
    ErroInterno:
      description: Erro interno do servidor
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErroResponse'
          example:
            message: Erro interno do servidor.

  schemas:
    ErroResponse:
      type: object
      properties:
        message:
          type: string
          example: Descrição do erro.

    PaginationMeta:
      type: object
      properties:
        temProximaPagina:
          type: boolean
          description: >
            Sempre presente. É a única informação de paginação disponível quando
            `contarTotal=false`.
        total:
          type: integer
          nullable: true
          description: '`null` quando a contagem foi omitida com `contarTotal=false`.'
        page:
          type: integer
        lastPage:
          type: integer
          nullable: true
          description: '`null` quando a contagem foi omitida com `contarTotal=false`.'
        limit:
          type: integer

    ParlamentarResumo:
      type: object
      properties:
        id:
          type: integer
          example: 1
        nomeParlamentar:
          type: string
          example: Fulano da Silva
        siglaPartido:
          type: string
          example: ABC
        uf:
          type: string
          example: SP
        urlFoto:
          type: string
          format: uri
          example: https://example.com/foto.jpg
        cargo:
          type: string
          nullable: true
          example: Deputado(a)
        condicaoMandato:
          type: string
          nullable: true
          description: Valor real de `parlamentar.condicao_mandato`.
          example: Suplente em exercício

    ParlamentarDetalhe:
      allOf:
        - $ref: '#/components/schemas/ParlamentarResumo'
        - type: object
          properties:
            nomeCivil:
              type: string
            dataNascimento:
              type: string
              format: date
            email:
              type: string
              format: email
            gabinete:
              type: object
              properties:
                telefone:
                  type: string
                endereco:
                  type: string
            redesSociais:
              type: array
              items:
                type: object
                properties:
                  rede:
                    type: string
                  url:
                    type: string
            historicoPartidario:
              type: array
              description: Filiações partidárias com suas janelas de vigência.
              items:
                type: object
                properties:
                  sigla:
                    type: string
                  inicio:
                    type: string
                    format: date
                    nullable: true
                  fim:
                    type: string
                    format: date
                    nullable: true
            periodosMandato:
              type: array
              description: Períodos de exercício do mandato.
              items:
                type: object
                properties:
                  inicio:
                    type: string
                    format: date
                    nullable: true
                  fim:
                    type: string
                    format: date
                    nullable: true
                  descricao:
                    type: string
                    nullable: true

    ProposicaoPerfil:
      type: object
      properties:
        id:
          type: integer
        casa:
          type: string
          enum: [Camara, Senado, Congresso]
          nullable: true
        sigla:
          type: string
          nullable: true
        numero:
          type: string
          nullable: true
        ano:
          type: integer
          nullable: true
        ementa:
          type: string
          nullable: true
        situacao:
          type: string
          nullable: true
        dataApresentacao:
          type: string
          format: date
          nullable: true
        temas:
          type: array
          items:
            type: string

    VotacaoPerfil:
      type: object
      properties:
        id:
          type: integer
        titulo:
          type: string
          description: Identificador legível da proposição vinculada, quando disponível.
          example: PL 123/2024
        data:
          type: string
          format: date
        tema:
          type: string
          nullable: true
          description: Ementa ou resumo da proposição vinculada à votação.
        resumo:
          type: string
          nullable: true
          description: Texto da deliberação/resultado retornado pela origem da votação.
        voto:
          type: string
          description: >
            Enum canônico de `voto.votoRegistrado`. OBSTRUCAO e NAO REGISTRADO
            existem no banco e precisam ser tratados pelo cliente.
          enum:
            - SIM
            - NAO
            - ABSTENCAO
            - OBSTRUCAO
            - AUSENCIA_JUSTIFICADA
            - AUSENTE
            - NAO_REGISTRADO
        resultado:
          type: string
          nullable: true
        tipo:
          type: string
          nullable: true
        proposicao:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            tipo:
              type: string
              nullable: true
              example: PL
            numero:
              type: string
              nullable: true
              example: '123'
            ano:
              type: integer
              nullable: true
              example: 2024
            ementa:
              type: string
              nullable: true
            situacao:
              type: string
              nullable: true

    Despesa:
      type: object
      properties:
        data:
          type: string
          format: date
        tipo:
          type: string
        fornecedor:
          type: string
        valor:
          type: number
          format: float
        urlDocumento:
          type: string
          format: uri

    DespesasPerfil:
      type: object
      properties:
        totalAno:
          type: number
          format: float
        mediaMensal:
          type: number
          format: float
          nullable: true
          description: >
            Total dividido pelos meses que efetivamente têm despesa dentro do
            exercício do mandato (nunca por 12 fixo). `null` quando não há mês
            com dados — o cliente deve exibir "sem dados", não "R$ 0".
        mesesConsiderados:
          type: integer
          description: Divisor usado em `mediaMensal`.
        maiorReembolso:
          type: number
          format: float
        categorias:
          type: array
          items:
            type: object
            properties:
              tipoDespesa:
                type: string
              total:
                type: number
                format: float

    Emenda:
      type: object
      properties:
        id:
          type: integer
        codigoEmenda:
          type: string
        ano:
          type: integer
        tipoEmenda:
          type: string
        autor:
          type: string
        nomeAutor:
          type: string
        numeroEmenda:
          type: string
        localidadeDoGasto:
          type: string
        funcao:
          type: string
        subfuncao:
          type: string
        valorEmpenhado:
          type: number
          format: float
        valorLiquidado:
          type: number
          format: float
        valorPago:
          type: number
          format: float
        metodoVinculo:
          type: string
        confiancaVinculo:
          type: number
          format: float

    EmendaResumo:
      type: object
      properties:
        totalEmendas:
          type: integer
        totalEmpenhado:
          type: number
          format: float
        totalLiquidado:
          type: number
          format: float
        totalPago:
          type: number
          format: float

    EmendaDetalhe:
      allOf:
        - $ref: '#/components/schemas/Emenda'
        - type: object
          properties:
            valorRestoInscrito:
              type: number
              format: float
            valorRestoCancelado:
              type: number
              format: float
            valorRestoPago:
              type: number
              format: float
            parlamentares:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  nomeCivil:
                    type: string
                  nomeUrna:
                    type: string
                  partidoAtual:
                    type: string
                  uf:
                    type: string
                  fotoUrl:
                    type: string
                    format: uri
                  metodoVinculo:
                    type: string
                  confiancaVinculo:
                    type: number
                    format: float
            documentos:
              type: array
              items:
                $ref: '#/components/schemas/EmendaDocumento'

    EmendaDocumento:
      type: object
      properties:
        id:
          type: integer
        idEmenda:
          type: integer
        codigoEmenda:
          type: string
        data:
          type: string
          format: date
        fase:
          type: string
        codigoDocumento:
          type: string
        codigoDocumentoResumido:
          type: string
        especieTipo:
          type: string
        tipoEmenda:
          type: string
        urlPortal:
          type: string
          format: uri
          nullable: true

    BaldePresenca:
      type: object
      properties:
        taxa:
          type: number
          format: float
          nullable: true
          description: >
            Presenças + faltas justificadas sobre o total. `null` quando não há
            evento no balde — nunca 0%, que significaria ausência total.
          example: 96.2
        taxaEstrita:
          type: number
          format: float
          nullable: true
          description: Só presenças sobre o total; faltas justificadas não contam.
          example: 94.1
        total:
          type: integer
        presentes:
          type: integer
        justificadas:
          type: integer
        faltas:
          type: integer

    GrupoPresenca:
      type: object
      properties:
        deliberativas:
          $ref: '#/components/schemas/BaldePresenca'
        naoDeliberativas:
          $ref: '#/components/schemas/BaldePresenca'

    PresencaResumo:
      type: object
      description: >
        Calculada exclusivamente a partir da tabela `presenca`. Plenário e
        comissão são taxas distintas e não devem ser somadas. O denominador é
        restrito aos períodos de `mandatoExercicio` quando existem.
      properties:
        plenario:
          $ref: '#/components/schemas/GrupoPresenca'
        comissoes:
          $ref: '#/components/schemas/GrupoPresenca'
        excluidos:
          type: object
          description: Eventos que ficaram fora de todas as taxas.
          properties:
            eventosSemClassificacao:
              type: integer
              description: '`descricaoTipo` nulo ou fora das listas conhecidas.'
            eventosSemOrgao:
              type: integer
              description: Sem órgão vinculado, então sem como separar plenário de comissão.
        janela:
          type: object
          properties:
            restritaAoExercicio:
              type: boolean
              description: >
                `false` quando o parlamentar não tem registro em
                `mandatoExercicio` — a taxa é calculada sem recorte e isso
                precisa aparecer na UI.
            periodos:
              type: array
              items:
                type: object
                properties:
                  inicio:
                    type: string
                    format: date
                    nullable: true
                  fim:
                    type: string
                    format: date
                    nullable: true
                  descricao:
                    type: string
                    nullable: true
        metodologia:
          type: array
          description: >
            Origem do dado por casa. Câmara e Senado têm coberturas diferentes;
            não compare taxas entre casas sem exibir esta informação.
          items:
            type: object
            properties:
              casa:
                type: string
              fonte:
                type: string
              observacao:
                type: string

    Alinhamento:
      type: object
      description: >
        "Seguiu a orientação do partido?" — comparação entre `orientacaoVotacao`
        e o voto, usando o partido vigente na DATA da votação.


        O formato é uniforme nos três casos em que não há taxa: os contadores
        vêm sempre e `taxa` é `null` com `motivo` preenchido. Assim o cliente lê
        os mesmos campos independentemente do resultado.
      properties:
        disponivel:
          type: boolean
          description: >
            `false` apenas quando não existe orientação de bancada para a casa —
            hoje, o Senado. Não confundir com amostra insuficiente, que é
            `disponivel: true` com `taxa: null`.
        taxa:
          type: number
          format: float
          nullable: true
          description: >
            Percentagem de votos que seguiram a orientação. `null` sempre que
            `motivo` está preenchido — nunca exiba `0` no lugar.
        motivo:
          type: string
          nullable: true
          enum:
            - ORIENTACAO_INDISPONIVEL_SENADO
            - SEM_VOTOS_COMPARAVEIS
            - BANCADA_NAO_RESOLVIDA
            - AMOSTRA_INSUFICIENTE
          description: >
            `ORIENTACAO_INDISPONIVEL_SENADO`: o agregador não coleta orientação
            do Senado.
            `SEM_VOTOS_COMPARAVEIS`: nenhuma votação do parlamentar tem
            orientação correspondente.
            `BANCADA_NAO_RESOLVIDA`: havia orientação publicada, mas a bancada
            do parlamentar não foi identificada — hoje o caso dos blocos, cujo
            nome vem abreviado e truncado no dump da Câmara. A limitação é
            nossa, não do dado; a interface deve dizer isso em vez de sugerir
            ausência de informação.
            `AMOSTRA_INSUFICIENTE`: há comparações, mas menos que
            `minimoParaTaxa` — poucas para uma percentagem significar algo.
            Nestes dois últimos casos, use `consideradas` para dizer quantas
            votações foram comparadas em vez de exibir uma taxa.
        seguiu:
          type: integer
        divergiu:
          type: integer
        consideradas:
          type: integer
          description: '`seguiu + divergiu` — o denominador da taxa.'
        liberadas:
          type: integer
          description: Votos com orientação "Liberado"/"Artigo 17", fora do denominador.
        bancadaNaoResolvida:
          type: integer
          description: >
            Votações com orientação publicada em que nenhuma bancada pôde ser
            associada ao partido do parlamentar. Federações (`Fdr PT-PCdoB-PV`)
            são resolvidas por pertencimento; blocos (`Bl UniPpPsd...`) não,
            porque o nome vem abreviado e truncado.
        minimoParaTaxa:
          type: integer
          description: Piso de `consideradas` para a taxa ser publicada.
          example: 20
        fonteFiliacao:
          type: string
          nullable: true
          enum: [historico, partidoAtual]
          description: >
            `partidoAtual` indica que não havia histórico de filiação e o partido
            atual foi usado como aproximação.

    Comissao:
      type: object
      properties:
        id:
          type: integer
        sigla:
          type: string
          nullable: true
        nome:
          type: string
          nullable: true
        tipoOrgao:
          type: string
          nullable: true
        casa:
          type: string
          enum: [Camara, Senado, Congresso]
        cargo:
          type: string
          nullable: true

    VotacaoResumo:
      type: object
      properties:
        id:
          type: integer
        apiId:
          type: string
        orgao:
          $ref: '#/components/schemas/OrgaoRef'
        casa:
          type: string
          enum: [Camara, Senado, Congresso]
        data:
          type: string
          format: date-time
          nullable: true
        resumo:
          type: string
          nullable: true
        resultado:
          type: string
          nullable: true
        tipo:
          type: string
          nullable: true
          enum: [NOMINAL, SIMBOLICA, SECRETA]
        proposicao:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            tipo:
              type: string
              nullable: true
            numero:
              type: string
              nullable: true
            ano:
              type: integer
              nullable: true

    VotacaoDetalhe:
      type: object
      properties:
        id:
          type: integer
        apiId:
          type: string
        casa:
          type: string
        data:
          type: string
          format: date-time
          nullable: true
        resumo:
          type: string
          nullable: true
        resultado:
          type: string
          nullable: true
        tipo:
          type: string
          nullable: true
        orgao:
          $ref: '#/components/schemas/OrgaoRef'
        proposicao:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            tipo:
              type: string
              nullable: true
            numero:
              type: string
              nullable: true
            ano:
              type: integer
              nullable: true
            ementa:
              type: string
              nullable: true
        orientacoes:
          type: array
          description: Orientação de cada bancada. Só a Câmara possui este dado.
          items:
            type: object
            properties:
              bancada:
                type: string
              orientacao:
                type: string
                nullable: true
        placar:
          $ref: '#/components/schemas/Placar'
        totalVotos:
          type: integer
        votos:
          type: object
          description: >
            Ponteiro para a lista nominal, que **não** vem embutida: eram até
            513 objetos por votação. Use `placar` para o agregado.
          properties:
            rota:
              type: string
            observacao:
              type: string

    VotoRegistrado:
      type: object
      properties:
        id:
          type: integer
        parlamentarId:
          type: integer
        parlamentar:
          type: string
          nullable: true
        siglaPartido:
          type: string
          nullable: true
        uf:
          type: string
          nullable: true
        voto:
          type: string
          enum:
            - SIM
            - NAO
            - ABSTENCAO
            - OBSTRUCAO
            - AUSENCIA_JUSTIFICADA
            - AUSENTE
            - NAO_REGISTRADO

    ProposicaoDetalhe:
      allOf:
        - $ref: '#/components/schemas/ProposicaoPerfil'
        - type: object
          properties:
            apiId:
              type: string
              description: >
                Id na API de origem — é com ele que o cliente monta o link para
                a ficha oficial da Câmara ou do Senado.
            autores:
              type: array
              items:
                $ref: '#/components/schemas/AutorParlamentar'
            autoria:
              type: object
              description: >
                `autoriaProposicao` só liga proposição a parlamentar. Projeto do
                Executivo, do Judiciário, de comissão ou de iniciativa popular
                fica com `autores` vazio — o que significa "sem autor
                parlamentar", não "sem autor".
              properties:
                somenteParlamentares:
                  type: boolean
                observacao:
                  type: string
            jornada:
              type: object
              description: >
                Relações de `proposicaoRelacao`. `mesmaMateria` liga a mesma
                matéria entre Câmara e Senado, que antes apareciam desconexas.
              properties:
                mesmaMateria:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProposicaoReferencia'
                principal:
                  allOf:
                    - $ref: '#/components/schemas/ProposicaoReferencia'
                  nullable: true
                anteriores:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProposicaoReferencia'
                posteriores:
                  type: array
                  items:
                    $ref: '#/components/schemas/ProposicaoReferencia'
            votacoes:
              type: array
              description: Cada votação já vem com órgão e placar agregado.
              items:
                allOf:
                  - $ref: '#/components/schemas/VotacaoResumo'
                  - type: object
                    properties:
                      orgao:
                        $ref: '#/components/schemas/OrgaoRef'
                      placar:
                        $ref: '#/components/schemas/Placar'
                      totalVotos:
                        type: integer

    ProposicaoReferencia:
      type: object
      properties:
        id:
          type: integer
        casa:
          type: string
          nullable: true
        sigla:
          type: string
          nullable: true
        numero:
          type: string
          nullable: true
        ano:
          type: integer
          nullable: true

    DashboardMetadata:
      type: object
      description: >
        Metodologia do agregado. Toda métrica monetária declara qual valor do
        ciclo orçamentário usou e o que ficou de fora da conta.
      properties:
        metrica:
          type: string
        casa:
          type: string
        janela:
          type: object
        exclusoes:
          type: array
          items:
            type: string
        observacao:
          type: string

    ParlamentarPerfil:
      type: object
      properties:
        visaoGeral:
          $ref: '#/components/schemas/ParlamentarDetalhe'
        comissoes:
          type: array
          items:
            $ref: '#/components/schemas/Comissao'
        votacoes:
          type: object
          properties:
            presenca:
              $ref: '#/components/schemas/PresencaResumo'
            alinhamento:
              $ref: '#/components/schemas/Alinhamento'
            recentes:
              type: array
              items:
                $ref: '#/components/schemas/VotacaoPerfil'
        proposicoes:
          type: object
          properties:
            total:
              type: integer
            recentes:
              type: array
              items:
                $ref: '#/components/schemas/ProposicaoPerfil'
        despesas:
          $ref: '#/components/schemas/DespesasPerfil'
        emendas:
          $ref: '#/components/schemas/EmendaResumo'
